In [1]:
import pandas as pd

In [3]:
from web_tracking.pre_processing.raw_data_processor import RawDataProcessor

# Raw Data

- We have a raw data which imitates the web browsing data.
- It has simply following columns.

In [4]:
raw = pd.read_csv('./data/[1]urls_raw.csv', parse_dates=['used_at'])

In [5]:
raw.head()

,id,panelist_id,url,used_at,active_seconds,domain,category
0,1,b1dcb5d717657d39,445c11bdc8c03a86,2013-05-24 08:19:06,70,306bf00500f76b05,234f5b297d040799
1,2,b1dcb5d717657d39,445c11bdc8c03a86,2013-05-24 09:15:02,30,306bf00500f76b05,234f5b297d040799
2,3,b1dcb5d717657d39,445c11bdc8c03a86,2013-05-24 08:35:26,26,306bf00500f76b05,234f5b297d040799
3,4,b1dcb5d717657d39,445c11bdc8c03a86,2013-05-24 09:15:56,6,306bf00500f76b05,234f5b297d040799
4,5,b1dcb5d717657d39,445c11bdc8c03a86,2013-05-24 08:29:10,38,306bf00500f76b05,234f5b297d040799

# Pre-Process

- In order to start we create and an instance of `RawDataProcessor`, give the raw data as parameter.
- Then, we call the `create_time_series` method, so it maps to existing columns to our data model.

In [6]:
RDP = RawDataProcessor(raw)

In [7]:
RDP.create_time_series(uid='id', 
                       user='panelist_id', 
                       url='url', 
                       domain='domain', 
                       category='category', 
                       starts='used_at', 
                       active_seconds='active_seconds')

In [8]:
RDP.df.head()

,uid,user,url,starts,active_seconds,domain,category,ends,gap_seconds
2685,2686,354471f893df6b8e,8f155e77c8af923f,2013-05-22 01:19:56,176,8f155e77c8af923f,05175ca42d439154,2013-05-22 01:22:52,0
2697,2698,354471f893df6b8e,d54549e0cd7183c5,2013-05-22 01:22:52,6,8f155e77c8af923f,05175ca42d439154,2013-05-22 01:22:58,0
2699,2700,354471f893df6b8e,8f155e77c8af923f,2013-05-22 01:22:58,28,8f155e77c8af923f,05175ca42d439154,2013-05-22 01:23:26,0
2703,2704,354471f893df6b8e,cc527ffdc8e74d14,2013-05-22 01:23:26,6,8f155e77c8af923f,05175ca42d439154,2013-05-22 01:23:32,0
2705,2706,354471f893df6b8e,8f155e77c8af923f,2013-05-22 01:23:32,38,8f155e77c8af923f,05175ca42d439154,2013-05-22 01:24:10,0

# Export

- Lastly, we export the processed data as csv for the further actions.

In [9]:
RDP.df.to_csv('./data/[2]urls_pre_processed.csv', index=False)